<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cn.tangjunwei.imagelibrary">

    <application>

        <provider
            android:name=".ImageLibFileProvider"
            android:authorities="cn.tangjunwei.imagelibrary.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <activity
            android:name=".album.activity.ImageSelectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>


        <activity
            android:name=".crop.CropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        
    </application>
</manifest>
